@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);

/* Reset */

html, body, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.65;
}



@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}


/*-----------------------------MONCOMPTE--------------------*/
.header {
    display: flex;
    justify-content: space-around;
    font-size: 12pt;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: #e74c3c;
    cursor: pointer;
}

span {
    margin-right: 10px;
}

.btn{
    background-color: #e74c3c;
    color: white;
    padding: 10px;;
    border-radius: 25px;
    cursor: pointer;
    line-height: 1.2;
}

section {
    margin-top: 100px;
}

@media screen and (max-width: 1280px) {

    section {
        margin-top: 20px;
    }

}

.title{
    display: flex;
    justify-content: center;
}

.type span {
  display:block;
}

.type {
  width:400px;
  margin:50px auto;
	text-align: center;
	color: #F5C4B6;
  line-height:0.85;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

.type span:nth-child(1) {
  font-size: 100px;
}

.type span:nth-child(2) {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 60px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 #e74c3c,
				-5px 0 0 #e74c3c,
				0 5px 0 #e74c3c,
				0 -5px 0 #e74c3c,
				4px 4px #e74c3c,
				-4px -4px 0 #e74c3c,
				4px -4px 0 #e74c3c,
				-4px 4px 0 #e74c3c;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  color:#fff;
  margin-top:-5px;
}

.type span:nth-child(3) {
  font-size: 100px;
  margin-top:-12px;
}

@media screen and (max-width: 1280px) {

    h1 {
        font-size: 20pt;
    }

}

.photo-profil{
    display: flex;
    justify-content: center;
}

#imgProfil {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.ajouter-article {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 100px;
}

@media screen and (max-width: 1280px) {

    .ajouter-article {
        margin-right: 5px;
    }

}

.pre-title {
  padding-top: 120px;
  display: block;
  text-align: center;
  
}
  .pre-title-text {
    color: black;
    vertical-align: middle;
    font-size: 15px;
    letter-spacing: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: inline-block;
  }
  .pre-title-line {
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 700px;
    background: black;
  }


.articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.article {
    width: 250px;
    height: 500px;
    margin: 50px;
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(45, 45, 45, 0.2);
    background-color: white;
}

@media screen and (max-width: 1280px) {
    
    .articles {
        display: block;
    }
    .article {
        margin: auto;
        margin-top: 30px;
    }

}

img {
    width: 250px;
    height: 200px;
    border: 1px solid white;
    box-shadow: 4px 4px 10px rgba(45, 45, 45, 0.2);
}

.nom {
    color: #e74c3c;
    font-weight: 600;
    text-align: center;
}

.prix {
    text-align: center;
}

.icones{
    display: flex;
    justify-content: space-between;
}

.fa-pencil{
    color: #e74c3c;
    cursor: pointer;
}

.fa-trash{
    color: #e74c3c;
    cursor: pointer;
}